.DS_Store
.idea
*.log
tmp/
.env
dist/
logs/
out/
test/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
coverage/
sonar-report.xml

# local test file
src/info.json
*.sh
website_list.json
ecosystem.config.js

# ai
.opencode/
.kilocode/
.claude/
.specify/
