.DS_Store
.idea
*.log
tmp/
.env
dist/
logs/
out/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
coverage/

# local test file
welcome.template
*.sh
website_list.json
ecosystem.config.js
tdoll_data.json